aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
aniso8601==10.0.0
anyio==4.5.2
async-timeout==4.0.3
attrs==25.3.0
blinker==1.8.2
Brotli==1.1.0
Cerberus==1.3.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.0.12
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61srkg7e2e/croot/click_1698129815327/work
cn2an==0.5.17
ConfigArgParse==1.7
crcmod==1.7
cryptography==44.0.2
dataclasses-json==0.6.7
distro==1.9.0
elasticsearch==6.8.0
exceptiongroup==1.2.2
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-RESTful==0.3.9
frozenlist==1.5.0
gevent==24.2.1
geventhttpclient==2.0.12
gitdb==4.0.12
GitPython==3.1.20
greenlet==3.1.1
h11==0.16.0
hanziconv==0.3.2
httpcore==1.0.9
httpx==0.28.1
id-validator==1.0.20
idna==3.10
importlib_metadata==8.5.0
itsdangerous @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00jdi1gu23/croot/itsdangerous_1716533346702/work
jieba==0.42.1
Jinja2==3.1.6
jiter==0.9.0
jmespath==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-openai==0.1.25
langchain-text-splitters==0.2.4
langsmith==0.1.147
locust==2.25.0
loguru==0.6.0
lru_redis_cache==0.1
marisa-trie==0.7.7
MarkupSafe==2.1.5
marshmallow==3.22.0
msgpack==1.1.0
multidict==6.1.0
mypy_extensions==1.1.0
numpy==1.24.4
openai==1.76.2
orjson==3.10.15
oss2==2.15.0
packaging==24.2
pandas==2.0.3
pinyin==0.4.0
proces==0.1.7
prometheus-client==0.12.0
propcache==0.2.0
protobuf==3.19.4
psutil==7.0.0
pycparser==2.22
pycryptodome==3.22.0
pydantic==1.10.8
pyenchant==3.2.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-rapidjson==1.5
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
redis==3.3.11
regex==2024.11.6
requests==2.27.1
requests-toolbelt==1.0.0
roundrobin==0.0.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.8
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soul-luban-0.0.5==0.0.5
soul-modb-0.0.10==0.0.10
SQLAlchemy==2.0.40
tenacity==8.5.0
tiktoken==0.7.0
tomli==2.2.1
tqdm==4.67.1
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.20
uwsgitop==0.11
Werkzeug==3.0.6
yarl==1.15.2
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
